.tabs {
  justify-content: center;
  gap: 32px;

}


.tab-active {
  display: flex;
  padding: 16px 24px;
  width: 135px;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  background: var(--Blue-1, rgba(78, 150, 225, 0.90));
  /* box-shadow: 0px 6px 60px 0px rgba(51, 51, 51, 0.06); */
  color: #FFF;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.98px;
}

.tab-active .title-tabs {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 6px 60px rgba(51, 51, 51, 0.06));
}

.tab-inactive .title-tabs {
  display: flex;
  /* background-color: rgb(255, 255, 255); */
  margin-top: 16px;
  justify-content: flex-start;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  /* fill: rgba(255, 255, 255, 1.00); */
  filter: drop-shadow(0px 6px 60px rgba(51, 51, 51, 0.06));
}

.tab-inactive {
  display: flex;
  padding: 16px 24px;
  cursor: pointer;
  width: 135px;
  height: 52px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 2px solid var(--Black-80, rgba(51, 51, 51, 0.80));

  box-shadow: 0px 6px 60px 0px rgba(51, 51, 51, 0.06);

  color: var(--Black-80, rgba(51, 51, 51, 0.80));
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.98px;
}